---
import json from "../../data/terms.json";
export function getStaticPaths() {
  const terms = json;
  return terms.map(({ termCode, name, alternateName }) => {
    return {
      params: { termCode },
      props: { name, alternateName },
    };
  });
}

const { name, alternateName } = Astro.props;
---

<div>"{name}" in English is "{alternateName}"!</div>
