---
import { getCollection, getEntry } from "astro:content";

const allTerms = await getCollection("terms");
---

<div>
  <ul>
    {
      allTerms.map((term) => {
        return (
          <li>
            <a href={`/terms/${term.slug}`}>{term.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</div>
