---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Siden finnes ikke">
  <h2>404 - Siden finnes ikke</h2>
  <p>Denne siden finnes ikke. Gå tilbake til <a href="/">forsiden</a>.</p>
</Layout>
