---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allTerms = await getCollection("terms");
---

<Layout title="Kontordboka">
  <ul>
    {
      allTerms.map((term) => {
        return (
          <li>
            <a href={`/${term.slug}`}>{term.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</Layout>
